body {
  margin: auto;
}

header {
  background-color: gray;
  width: 100%;
  height: 70px;

}

header>a {
  font-size: 50px;
  display: inline-block;
  position: absolute;
  height: 50px;
}

header>.header_a2 {
  width: 375px;
  white-space: nowrap;
  left: calc(50% - 187.5px)
}

header>.header_a1 {
  width: 150px;
  left: 0px;
  white-space: nowrap;
}

header>.header_a3 {
  width: 150px;
  right: 0px;
  white-space: nowrap;
}

.contributor_img {
  left: 20px;
  width: 200px;
  position: relative;
}

.contributor {
  border: 5px solid black;
  border-radius: 20px;
  position: relative;
  min-height: 300px;
  line-height: normal;
}

.contributor_name {
  left: 20px;
  position: relative;
}

@media (min-width: 600px) {
  .contributor_contents {
    display: flex;
  }

  .contributor1 {
    left: 10px;
    flex-grow: 1;
  }

  .contributor2 {
    flex-grow: 9;
  }
}

.main_contents {
  margin-left: 30px;
  margin-right: 30px;
}

.contents {
  border: 5px solid blue;
  border-radius: 20px;
  position: relative;
  min-height: 300px;
}

.contents_img {
  border: 2px solid black;
  left: 20px;
  width: 200px;
  height: 200px;
  position: relative;
  object-fit: contain;
}

#comments {
  border: 5px solid red;
  border-radius: 20px;
  position: relative;
  margin-left: 30px;
  margin-right: 30px;
}

.share {
  margin-left: 40px;
  margin-right: 40px;
  border-bottom: 3px solid gray;
}
#page_button{
  white-space: nowrap;
}
.page_button_menu {
  font-size: 30px;
  height: 40px;
  width: 24%;
  display: inline-block;
  text-align: center;
  border: 2px solid gainsboro;
}
.page_button_menu2 {
  font-size: 30px;
  height: 40px;
  width: 50%;
  display: inline-block;
  text-align: center;
  border: 2px solid gainsboro;
}

.blog_contributor_url {
  font-size: 20px;
}

#tag {
  font-size: 30px;
}

.tag {
  display: inline-block;
  font-size: 20px;
  margin-right: 20px;
  border: 2px solid blue;
  border-radius: 30px;
  height: 30px;
  line-height: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
.all_contents {
  display: inline-block;
  font-size: 20px;
  margin-right: 20px;
  border: 2px solid blue;
  border-radius: 30px;
  height: 30px;
  line-height: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

#all_page_button > a {
  font-size: 30px;
  height: 40px;
  width: 100%;
  display: inline-block;
  text-align: center;
  border: 2px solid gainsboro;
}

.markdrip{
  color: gray;
  border-bottom: solid 1px black;
}
.main_contents{
line-height: 30px;
}